.btn {
    margin: 0 28px 10px 0;
}
input.blue-input{
    border-bottom: 1px solid #fff!important;
    box-shadow: 0 1px 0 0 #ccc!important;
}

h1 {
    letter-spacing: 5px;
    font-weight: 250;
    display: flex;
    justify-content: center;
    font-size: 25px;
    background: linear-gradient(0deg, rgba(238, 255, 0, 0.904) 0%, rgba(43, 255, 0, 0.719) 90%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: table;
    margin: 20px auto;
  
}

body {
    
    background-color:#00643ae0;
}

.row {
    margin-top: 100px;
}

label{
    color: #9e9e9e!important;
}

input.blue-input:focus + label{
    color:#2e7d32!important;
    border-bottom: #ccc!important;
}

input.blue-input:focus {
    border-bottom: 1px solid #fff!important;
    box-shadow: 0 1px 0 0 #2e7d32!important;
    
}


